<h1>PAGINA WEB DE ALONSO</h1>
<p>Find me in YOUR *******</p>

<p>ODIN ES EL VERDADERO DIOS</p>

<h2>Mr. ALF</h2>

<a href="http://www.facebook.com" target="_blank">Facebook</a>

<br>

<form action="" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name"><br>
	<label for="password">Password</label>
	<input type="password" name="password"><br>
	<input type="submit" name="submit" value="Login">
</form>